extends layout

block content
  h1= title
  p(style="white-space: pre-line")!= lyrics

  script.
    setTimeout(function() {
    window.location.reload(1);
    }, (#{duration_ms} - #{progress_ms}) + 1000);
