doctype html
html(lang='en')
  head
    title Spotify | setyawan.dev
    meta(charset='utf-8')
    meta(name='description', content='Welcome to Spotify setyawan.dev')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel="manifest" href="manifest.json")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
    link(rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/vegas.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/main0.min.css')
    script.
      !function(e,a,t,n,g,c){e.GoogleAnalyticsObject=n,e.ga||(e.ga=function(){(e.ga.q=e.ga.q||[]).push(arguments)}),e.ga.l=+new Date,g=a.createElement(t),c=a.getElementsByTagName(t)[0],g.src="https://www.google-analytics.com/analytics.js",c.parentNode.insertBefore(g,c)}(window,document,"script","ga"),ga("create","UA-120572471-1"),ga("send","pageview");
  body
    .bg-wraper.overlay.has-vignette
      #bg.slider.opacity-50.vegas-container(style='height: 983px;')
    section.section
      .container
        .row.text-center
          .col-md-12.col-sm-12.col-xs-12
            h2 
              | Spotify
              br
              | setyawan.dev
          .col-md-12.col-sm-12.col-xs-12
            p
              | Singing without getting bored.
              br
              | Sing the song you are listening to on Spotify, without fear of wrong lyrics.
            .button-group
              a.btn.btn-common(href='./app') Get Started
              br
              a.btn.btn-border(href='https://setyawan.dev' target='_blank') About Me
            .social.mt-4
              a(href='https://twitter.com/01setyawan' target='_blank').twitter.fa-twitter
              a(href='https://www.instagram.com/01setyawan/' target='_blank').instagram.fa-instagram
              a(href='https://open.spotify.com/user/albjkjsq2svf67emfqjf1rwu5?si=hf706pb6TTilCqhcQa5RRQ' target='_blank').spotify.fa-spotify
              br
              a(href='https://github.com/agungsetyawan' target='_blank').github.fa-github
              a(href='https://www.linkedin.com/in/agung-setyawan-4b476b145/' target='_blank').linkedin.fa-linkedin
    #preloader
      #loader-1.loader
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/popper.min.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/vegas.min.js')
    script(src='/javascripts/main0.min.js')
