doctype html
html
  head
    if artist == 'Your spotify is offline'
      title Spotify | setyawan.dev
    else
      title= title + ' · ' + artist
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel="manifest" href="manifest.json")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
    link(rel="mask-icon" href="/images/safari-pinned-tab.svg" color="#5bbad5")
    meta(name="msapplication-TileColor" content="#da532c")
    meta(name="theme-color" content="#ffffff")
    link(rel='stylesheet' href='/stylesheets/main.min.css')
    //if lte IE 9
      link(rel='stylesheet' href='/stylesheets/ie9.min.css')
    noscript
      link(rel='stylesheet' href='/stylesheets/noscript.min.css')
    //- Scripts
    //- script(async="" src="https://www.googletagmanager.com/gtag/js?id=UA-120572471-1")
    //- script.
      function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","UA-120572471-1");
    script.
      !function(e,a,t,n,g,c){e.GoogleAnalyticsObject=n,e.ga||(e.ga=function(){(e.ga.q=e.ga.q||[]).push(arguments)}),e.ga.l=+new Date,g=a.createElement(t),c=a.getElementsByTagName(t)[0],g.src="https://www.google-analytics.com/analytics.js",c.parentNode.insertBefore(g,c)}(window,document,"script","ga"),ga("create","UA-120572471-1"),ga("send","pageview");
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.cookie.min.js')
    //- script(src='https://sdk.scdn.co/spotify-player.js')
    script(src='/javascripts/skel.min.js')
    script(src='/javascripts/trianglify.min.js')
    script(src='/javascripts/vibrant.min.js')
    script(src='/javascripts/util.min.js')
    script(src='/javascripts/main.min.js')
  body
    block content
